* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: black;
}

.nav a {
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.nav a:hover {
	font-size: 1.75rem;
	color: aquamarine;
	transition: 0.2s ease;
}

.nav {
	height: 64px;
	display: flex;
	margin-left: 1rem;
	margin-right: 1rem;
	justify-content: space-between;
	width: 95%;
}

.nav-left {
	display: flex;
}

.select {
	font-size: 1rem;
}

#area {
	margin-top: 1rem;
	font-size: 1.5rem;
	border-radius: 10%;
	border-color: rgb(15, 201, 201);
	border-width: 0.1rem;
}

.login {
	/* margin-left: 10%; */
	margin: 1rem;
}

.runImg img {
	height: 290px;
}

.show {
	display: flex;
	flex-flow: row wrap;
	width: calc(100% + 20px);
	margin: -10px -10px -30px;
}

.show .local {
	display: block;
	margin: 1.5rem 1.5rem 1rem 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
}

.pic {
	display: flex;
	flex-flow: column wrap;
	box-sizing: border-box;
	height: 415px;
	width: 75vw;
	margin: 0rem 0rem 2rem 2rem;
	align-items: center;
}

.pic .pics {
	border: 0.5rem solid #0000;
}

.north {
	/* padding-right: 2.5rem;
    position: relative; */
	position: relative;
	width: 30%;
	height: 98%;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image:
		url("https://img.asiayo.com/static/images/index/Tw_taipei_desktop@3x.jpg");
	transition: 0.5s;
}

.north:hover {
	/* background-size:400px 500px;  */
	width: 35%;
}

.north .text {
	position: absolute;
	top: 90%;
	left: 5%;
	color: aliceblue;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem #020202;
}

.middle {
	/* padding-right: 2.5rem; */
	position: relative;
	text-align: center;
}

.picBox {
	height: 180px;
	width: 30vw;
	max-width: 100%; /* 确保不超出容器的宽度 */
	cursor: pointer;
	transition: 0.5s;
}

.picBox:hover {
	width: 45vw;
}
/* .picBox img{
    height: 100%;
    width: 100%;
} */
.picBox .img {
	/* width: 35vh;
    max-width: 50%;
  height: auto;
     */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.middle .text {
	position: absolute;
	top: 80%;
	left: 5%;
	color: aliceblue;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem #020202;
}

/*  */
.south {
	/* padding-right: 2.5rem;
    margin-top: .5rem; */
	position: relative;
}

.south img {
	width: 35vh;
}

.south .text {
	position: absolute;
	top: 80%;
	left: 5%;
	color: aliceblue;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem #020202;
}
/*  */
.east {
	/* padding-right: 2.5rem; */
	position: relative;
}

.east img {
	width: 35vw;
}

.east .text {
	position: absolute;
	top: 80%;
	left: 5%;
	color: aliceblue;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem #020202;
}
/*  */
.island {
	/* padding-right: 2.5rem;
    margin-top: .5rem; */
	position: relative;
}

.island img {
	width: 35vh;
}

.island .text {
	position: absolute;
	top: 80%;
	left: 5%;
	color: aliceblue;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0.1rem 0.1rem #020202;
}

.info {
	margin-top: 2rem;
	display: flex;
	height: 20vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.infoMsg {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.infoCards {
	display: flex;
	justify-content: space-between;
}

.infoCard {
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	width: 20vw;
	height: 15vh;
	flex-direction: column;
	margin: 0.5rem;
}

.infoIcon img {
	width: 80px;
	height: 80px;
}

.infoTitel {
	display: flex;
	color: rgb(38, 38, 38);
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 8px;
}

.infoText {
	display: flex;
	color: rgb(38, 38, 38);
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.footer {
	margin-top: 7rem;
	background-color: rgb(0, 33, 56);
}

.footerText {
	padding-top: 0.5rem;
}

.footerText .text {
	margin: 1rem;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: rgb(217, 217, 217);
}

.connect {
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 11px 23px;
	border: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	background-color: rgb(0, 33, 56);
	text-align: center;
}

.connect a {
	text-decoration: none;
	color: rgb(82, 182, 231);
	font-size: 1.5rem;
}

.footerIcons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.footerIcons .fIcon {
	margin: 0.5rem;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.nav {
		/* flex-direction: column;         */
		
	}
	.nav span {
		display: none;
	}
	.nav a {
		font-size: 1rem;
	}
	#area {
		font-size: 1rem;
	}
	.nav img {
		width: 17vh;
	}
}