body {
    background: rgb(245, 245, 245);
}

/* Navbar */
nav {
    height: 70px;
}

.navbar {
    background-color: white;
}

.container-fluid img {
    height: 50px;
    margin-left: 20px;
}

label {
    color: rgb(140, 140, 140);
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
}

.container .row input {
    color: rgb(89, 89, 89);
    font-size: 14px;
    width: 100%;
    padding: 14px 8px;
    line-height: 20px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 159, 210);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 24px;
    line-height: 24px;
    width: 100%;
}

.dropdown-menu a {
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(89, 89, 89);
    line-height: 20px;
}

.dropdown-menu .fa-regular,
.fa-solid {
    float: left;
    height: 20px;
    width: 20px;


}

.dropdown-menu span {
    padding-left: 10px;
    height: 20px;
    font-size: 14px;

}


/* sidebar */
.container-all {
    display: flex;
    align-items: stretch;
    margin-left: 150px;



}

.container-left {
    background-color: white;
    margin-bottom: 50px;
    height: 390px;
}

.container-right {
    background-color: white;
    width: 800px;
    margin-left: 30px;
    padding: 30px 10px 30px 10px;
    height: 100%;
    margin-bottom: 50px;
}

h1 {
    font-size: 24px;
    font-weight: 900;

}

#sidebar {
    width: 312px;

    background-color: white;
}

#sidebar h1 {
    margin-left: 30px;
    font-size: 24px;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px 15px 15px 30px;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: black;
}

#sidebar ul li a:hover {
    color: black;
    background: rgba(108, 195, 245, 0.3);
}

#sidebar ul li span {
    padding-left: 24px;
}



.fa-regular,
.fa-solid {
    float: left;
    width: 20px;
    height: 20px;
}

.nav-tabs {
    margin-top: 30px;
    margin-left: 10px;

}


.nav-link {
    font-size: 16px;
    color: rgb(89, 89, 89);
    font-weight: 700;

}

.nav-tabs .nav-link.active {
    color: rgb(30, 159, 210);
    border: 0px;
    border-bottom: 2px solid rgb(30, 159, 210);

}

.container-right img{
    width: 240px;
    height: 240px;
    margin: 30px 0px 15px 250px;
}

.container-right p{
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(89, 89, 89);
    text-align: center;
}




/* Footer */
.footer {
    background-color: #24262b;
    padding: 70px 0;

}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}